.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px; /* Larghezza della sidebar */
    background-color: #f8f9fa; /* Colore di sfondo */
    border-left: 1px solid #dee2e6; /* Bordo sinistro */
    padding-top: 56px; /* Altezza della navbar */
    overflow-y: auto; /* Scroll se la sidebar diventa troppo lunga */
}

.sidebar .bg-light {
    border-radius: 0;
    border: none;
}

.sidebar h3 {
    margin-bottom: 20px;
}

.sidebar button {
    width: 100%;
}
